# This is an example env for an evirmoent using hns-resolution-sdk

# If using 'arkhia_main + arkhia provider'
AUTH_HEADER="your auth header" # for arkhia mirrornode api
AUTH_KEY="your auth key" # for arkhia mirrornode api
ARKHIA_JRPC_URL="jrpc url + api key" 
# Example url "https://example.arkhia.io/hedera/mainnet/json-rpc/v1/{the apikey}", where example + api key will be what you will change essentially 

# To Intialize in your file 
const resolver = new Resolver("arkhia_main", process.env.AUTH_HEADER, process.env.AUTH_KEY, process.env.ARKHIA_JRPC_URL)

# If you don't access to the arkhia the public service are still avalible 
const resolver = new Resolver("hedera_main")
# Will default (hashio.io) as the jrpc provider + public mirror node rest api

# If you do arkhia jrpc url and want to use the public mirror node can do the following 
const resolver = new Resolver("hedera_main", "", "", process.env.ARKHIA_JRPC_URL)
